
html,
body,
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: 'Courier New', monospace;
  color: white;
}

main {
  flex: 1;
}

h1 {
  font-size: 4rem;
}

canvas {
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: beige;
  z-index: 0;
}
