.homeWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
    z-index: 2;
    pointer-events: none;
    top: 30vh;
    left: 0;

    > p {
        margin: 0;
        pointer-events: auto;
        background-color: transparent;
        font-size: 24px;
    }
    gap: 2rem
}

/* Overlay containers used for About/Projects/Blog */
.overlayContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlayContainerBlog {
    z-index: 3;
}

.overlayContent {
    pointer-events: auto;
    padding: 2rem;
    color: #000;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding-bottom: 20px;
    pointer-events: auto;
}

.homeButton {
    padding: 10px 5px 10px 5px;
    border: 2px solid rgb(0, 0, 0);
    height: fit-content;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    
    &:hover {
        background-color: black;
        color: white
    }

    p {
        height: auto;
        margin: 0;
        font-size: 16px;
    }
}