
.buttonCol {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 20px;
    pointer-events: auto;
    width: auto;
    position: fixed;
    z-index: 4;

    p {
        color: white;
    }
}



.homeButton {
    padding: 10px 5px 10px 5px;
    border: 2px solid white;
    height: fit-content;
    cursor: pointer;
    background-color: black;
    transition: all 0.3s ease-in-out;
    
    &:hover {
        background-color: white;
        p {
            color: black;
        }
    }

    p {
        height: auto;
        margin: 0;
        font-size: 16px;
    }
}